@{
    ViewData["Title"] = "Home Page";
}

@*  This page is to welcome Volunteers and Employees and to handle Authentication/Authorization
*@

<body>
    <div>
        <section class="embed-responsive; text-center">
            <img src="~/images/Bo-Sanchezs.jpg" class="rounded-circle" width="700" height:"400" />
        </section>
        <p>
            <h1 class="display-4">Welcome!</h1>
            Your efforts are what make Project Youth Plus successful.
            Please log in to access resources to guide your impact.
        </p>
        <br />
        <div class="embed-responsive embed-responsive-16by9"> @*This will be replaced by a welcome video/appreciation video*@
            <iframe class="embed-responsive-item" style="border:2px solid black;" src="https://player.vimeo.com/video/453118254?app_id=122963&wmode=opaque" allowfullscreen></iframe>
        </div>
        <br />
     </div>
</body>

<footer>

@*To Do: contact information for tech support*@    
    
</footer>

